# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
.swc/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
